{% extends 'base.html' %}
{% load custom_filters %}
{% load humanize %}

{% block content %}

<h2 class="pb-2">Entradas</h2>

{% if messages %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% include "partials/_filters.html" with search_url=request.path create_url="create" %}

<div class="d-flex justify-content-end mb-3">
  <small class="text-success">
    Total: R$ {{ total_entrada|format_currency }}
  </small>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Descrição</th>    
      <th>Valor</th>
      <th>Data</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for entrada in page_obj %}
    <tr>
      <td class="align-middle">{{ entrada.descricao }}</td>
      <td class="align-middle">R$ {{ entrada.valor|floatformat:2 }}</td>
      <td class="align-middle">{{ entrada.data|date:"d/m/Y" }}</td>
      <td class="col-3 text-center botoes">
        <a href="{% url 'detail_entrada' entrada.id %}" class="btn btn-info"><i class="bi bi-eye-fill"></i></a>
        <a href="{% url 'update_entrada' entrada.id %}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
        <!-- Botão que aciona o modal -->
        <button type="button" class="btn btn-danger btn-delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ entrada.id }}">
          <i class="bi bi-trash3-fill"></i>
        </button>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">Nenhuma entrada encontrada.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal de exclusão -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Remover Entrada</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">
        <p>Tem certeza que deseja remover esta entrada?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="post" id="delete-form" action="">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% include "partials/_pagination.html" %}

{% block extra_js %}
<script>
   $(document).ready(function () {
    $(".btn-delete").on("click", function () {
        let entradaId = $(this).data("id");
        let deleteUrl = `{% url 'delete_entrada' entrada_id=0 %}`.replace('0', entradaId);
        $("#delete-form").attr("action", deleteUrl);
    });
  });
</script>
{% endblock %}

{% endblock %}