{% extends 'base.html' %}

{% block content %}
<h2 class="pb-2">Pedidos de Camisa</h2>

<div class="d-flex justify-content-between align-items-center mb-3 mt-4">
  <span class="text-muted">Total de Pedidos: <strong class="text-primary">{{ page_obj.paginator.count }}</strong></span>
</div>

{% if messages %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% include "partials/_filters.html" with search_url=request.path create_url=create_url %}

<div class="mt-4">
  <h5 class="mb-3">Gerar Relatórios</h5>
  <div class="d-flex gap-2 flex-wrap">
      <a href="{% url 'relatorio_pedidos_simples_docx' %}" class="btn btn-outline-primary mb-2">
          <i class="bi bi-file-earmark-text"></i> Relatório Minimalista
      </a>
      <!-- Outros botões de relatório se tiver -->
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nº Pedido</th>
      <th>Cliente</th>
      <th>Cidade</th>
      <th>Tipo Cliente</th>
      <th>Camisa</th>
      <th>Tamanho</th>
      <th>Cor</th>
      <th>Valor</th>
      <th>Status</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for pedido in page_obj %}
    <tr>
      <td class="align-middle">#{{ pedido.id }}</td>
      <td class="align-middle">{{ pedido.nome_completo }}</td>
      <td class="align-middle">{{ pedido.cidade }}</td>
      <td class="aling-middle">{{ pedido.get_tipo_cliente_display }}</td>
      <td class="align-middle">{{ pedido.camisa.tipo }}</td>
      <td class="align-middle">{{ pedido.get_tamanho_display }}</td>
      <td class="align-middle">{{ pedido.get_cor_display }}</td>
      <td class="align-middle">R$ {{ pedido.valor_venda|floatformat:2 }}</td>
      <td class="align-middle">
        <span class="badge bg-{% if pedido.status == 'pendente' %}warning{% elif pedido.status == 'entregue' %}success{% else %}info{% endif %}">
          {{ pedido.get_status_display }}
        </span>
      </td>
      <td class="col-3 text-center botoes">
        <a href="{% url 'detail_pedido' pedido.id %}" class="btn btn-info"><i class="bi bi-eye-fill"></i></a>
        <a href="{% url 'edit_pedido' pedido.id %}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
        <button type="button" class="btn btn-danger btn-delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ pedido.id }}">
          <i class="bi bi-trash3-fill"></i>
        </button>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8">Nenhum pedido encontrado.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal de exclusão -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Cancelar Pedido</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">
        <p>Tem certeza que deseja cancelar este pedido?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="post" id="delete-form" action="">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Confirmar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% include "partials/_pagination.html" %}
{% endblock %}

{% block extra_js %}
<script>
   $(document).ready(function () {
    $(".btn-delete").on("click", function () {
        let pedidoId = $(this).data("id");
        let deleteUrl = `{% url 'delete_pedido' pedido_id=0 %}`.replace('0', pedidoId);
        $("#delete-form").attr("action", deleteUrl);
    });
  });
</script>
{% endblock %}